@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    overflow: scroll;
}


.wrapper {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    padding: 30px;
}

form {
    margin: 20px 0px 30px 0px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #FFCC70;
    font-size: 2.5rem;
    font-weight: 600;
}

.user-input {
    padding: 9px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
}

.submit:hover {
    cursor: pointer;
    transform: scale(1.25);
}


.list-items {
    margin: 0;
    padding: 0;
}


.todo-list {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: #FFCC70;
    margin-bottom: 8px;
}

.todo-list button {
    background-color:#C850C0;
    color: white;
    padding: 5px;
    border-radius: 7px;
    margin-right: 7px;
}

.todo-title {
    font-size: 18px;
}

.todo-list button:hover {
    opacity: 85%;
    transition: 1ms ease-in-out;
}


.completed {
    text-decoration: line-through;
}

.fa-trash, 
.fa-check {
    pointer-events: none;
}
